@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'poppins-bold', sans-serif !important;
    overflow-x: hidden;
}
:root{
    --one : #6420AA;
    --to : #FF3EA5;
    --tree : #FF7ED4;
    --fur : #FFB5DA;
    --i : #FB8B24;
    --ih : #E36414;
}
.card{
    background-color: black;
}
i{
    color: var(--i);
}
i:hover{
    color: var(--ih);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.heading{
    display: inline-block;
}
.navsec{
    background-color: rgb(231, 161, 29);
}
.navbar-nav .nav-link{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.navsec{
    position: relative;
    z-index: 2;
}
.heading{
    z-index: 4;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home{
    height: 70vh 
}
.heading h3 {
    overflow: hidden;
    border-right: 5px solid orange;
    white-space: nowrap;
    letter-spacing: 10px;
    width: 100%;
    animation: 
      typing 3s steps(17),
      blink-caret .4s infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.skills{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-left: 100px;
}
.skills i{
    font-size: 50px;
}
.skills i:hover{
    transform: scale(1.2);
}
.p1 i{
    font-size: 2rem;
    margin-right: 40px;
}
.p1 i:hover{
    transform: scale(1.2);
}
.p2 i{
    font-size: 2rem;
    margin-right: 40px;
}
.p2 i:hover{
    transform: scale(1.2);
}
.p3 i{
    font-size: 2rem;
    margin-right: 40px;
}
.p3 i:hover{
    transform: scale(1.2);
}
.p4 i{
    font-size: 2rem;
    margin-right: 40px;
}
.p4 i:hover{
    transform: scale(1.2);
}
.p5 i{
    font-size: 2rem;
    margin-right: 40px;
}
.p5 i:hover{
    transform: scale(1.2);
}
@media (max-width: 767px){
    .skills{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 75px;
    }
}
@media (max-width: 500px){
    .skills{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        margin-left: 50pxpx;
    }
}
@media (max-width: 250px){
    .skills{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        margin-left: 40px;
    }
}
@media (max-width: 200px){
    .skills{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        margin-left: 20px;
    }
}
textarea {
    resize: none;
    width: 400px;
}
.frm input{
    width: 400px;
}
.frm label{
    font-weight: 500;
}
#conpara{
    margin-top: 100px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}
.foot i{
    font-weight: 600;
    font-size: 2rem;
}
.foot i:hover{
    transform: scale(1.5);
}
a{
    text-decoration: none;
}
#an p{
    margin-top: 50px;
}
h5{
    color: var(--to);
}
.last a{
    color: #6420AA;
}
.last a:hover{
    color: red;
}